.Rproj.user
.Rhistory
.RData
.Ruserdata
*ellipse.R
*ellipse.R
inst/doc
doc
Meta
*.RData
tests/test_local.R
*.psd
CRAN-RELEASE
*.out
*.inp
*.dat
*.log
*.dgm
/doc/
/Meta/
*.dgm]
*.txt
tests/test_local.txt
!dev/lca_res.rdata
!dev/res_gmm_nopca.RData
